.backToTop {
  @include transition(all 150ms ease-in-out);
  background: #000000;
  padding: $space-sm;
  max-width: 50px;
  cursor: pointer;
  font-family: $sqBodyFont;
  font-size: 13px;
  color: $inactiveGrey;
  text-align: center;
  position: fixed;
  right: 0;
  text-decoration:none;
  bottom: 10px;
  i {
    width: 100%;
    text-align: center;
  }
  @media all and (max-width: $space-md) {
    padding: 15px;
  }
  &.state-hide{
    @include transition(all 150ms ease-in-out);
    opacity:0;
    width:0;
  }
  &:hover{
    @include transition(all 150ms ease-in-out);
    color:white;
  }
}