.footer {
  padding: $space-md;
  background: #000000;
  @include clearfix();
  @include radius(8px);
  &__social {
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto $space-sm auto;
    max-width: 365px;
    padding: 0;
    @include radius(6px);
    li {
      display: inline-block;
      margin: 0 $space-sm $space-sm 0;
      @media all and (min-width: $screen-sm) {
        margin: 0 $space-sm;
      }
      a {
        color: $green;
        i {
          font-size: 20px;
        }
        &:hover {
          color: white;
        }
      }
    }
  }
  &__copyright {
    text-align: center;
    color: $inactiveGrey;
    font-size: .8rem;
    display: block;
    float: left;
    font-family: $haBody;
    padding: $space-xs $space-sm;
    a {
      color: $green;
      text-decoration: none;
    }
  }
  &__logo {
    @include transition(all 350ms ease-in-out);
    @include clearfix();
    display: block;
    float: left;
    margin: 0 $space-sm 0 0;
    max-width: 25px;
    img {
      width: 100%;
      display: block;
      @include clearfix();
    }
  }
  &__links {
    float: right;
    ul {
      margin: 0;
      padding: $space-xs 0 $space-xs $space-xs;
      li {
        list-style: none;
        display: inline;
        margin-right: $space-xs;
        font-family: $sqBodyFont;
        font-size: 13px;
        a {
          text-decoration: none;
          color: $inactiveGrey;
          &:hover {
            color: white;
          }
        }
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  @media all and (max-width: 900px) {
    &__logo {
      @include transition(all 350ms ease-in-out);
      @include clearfix();

      float: none;
      margin: 0 auto;
      max-width: 25px;
      img {
        width: 100%;
        display: block;
        @include clearfix();
      }
    }
    &__copyright {
      text-align: center;
      color: $inactiveGrey;
      font-size: .8rem;
      display: block;
      float: none;
      font-family: $haBody;
      padding: $space-md;
      a {
        color: $green;
        text-decoration: none;
      }
    }
    &__links {
      float: none;
      ul {
        margin: 0;
        padding: $space-xs 0 $space-xs $space-xs;
        width: 100%;
        text-align: center;
        li {
          list-style: none;
          display: inline-block;
          margin-right: $space-xs;
          font-family: $sqBodyFont;
          font-size: 13px;
          a {
            text-decoration: none;
            color: $inactiveGrey;
            &:hover {
              color: white;
            }
          }
          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}

