.footer {
  padding: $space-md;
  @include clearfix();
  background: #000000;
  &__social {
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto $space-sm auto;
    max-width: 365px;
    padding: 0;
    @include radius(6px);
    li {
      display: inline-block;
      margin: 0 $space-sm $space-sm 0;
      @media all and(min-width: $screen-sm) {
        margin: 0 $space-sm;
      }
      a {
        color: $green;
        i {
          font-size: 20px;
        }
        &:hover {
          color: white;
        }
      }
    }
  }
  &__copyright {
    text-align: center;
    color: $inactiveGrey;
    font-size: .8rem;
    display:block;
    float:left;
    font-family: $haBody;
    padding:$space-xs $space-sm;
    a {
      color: $green;
      text-decoration: none;
    }
  }
  &__logo {
    @include transition(all 350ms ease-in-out);
    @include clearfix();
    display: block;
    float: left;
    margin: 0 $space-sm 0 0;
    max-width: 25px;
    img {
      width: 100%;
      display: block;
      @include clearfix();
    }
  }
  &__links {
    float: right;
    ul {
      margin: 0;
      padding:$space-xs 0 $space-xs  $space-xs;
      li {
        list-style: none;
        display: inline;
        margin-right: $space-xs;
        font-family: $sqBodyFont;
        font-size:13px;
        a {
          text-decoration: none;
          color: $inactiveGrey;
          &:hover{
            color:white;
          }
        }
        &:last-child{
          margin:0;
        }
      }
    }
  }
}

.backToTop{

  @media all and(max-width: $screen-md) {
    padding: $space-md $space-md;
  }
  background: #000000;
  padding: $space-sm;
  max-width:50px;
  cursor:pointer;
  font-family: $sqBodyFont;
  font-size:13px;
  color:$inactiveGrey;
  text-align:center;
  position:fixed;
  right:0;
  top:150px;
  i{
    width:100%;
    text-align:center;
  }
  
}