.heading{
  padding:$space-lg 0 $space-lg 0 ;
  &__logo {
    @include transition(all 350ms ease-in-out);
    padding: $space-md;
    position: relative;
    z-index: 1;
    &-img {
      max-width: 370px;
      width:100%;
      display: block;
      margin-left: -45px;
    }
  }
  &__description{
    font-family:$sqHeadingFont;
    font-size:1.5rem;
    text-align:left;
    width:50%;
    position: relative;
    padding:0 $space-lg;
    &:before{
      content: "";
      height: 5px;
      width: 40px;
      background: $sq-red;
      display: block;
      top: -25px;
      left: 64px;
      position: absolute;
    }
  }
}