.sectionHeader {
  padding: $space-md $space-xl;
  @media all and(max-width: $screen-md) {
    padding: $space-md $space-md;
  }
  font-family: $sqBodyFont;
  color: $inactiveGrey;
  text-transform: uppercase;
}