html,
body {
  background-color: #0d0d0d;
  margin: 0;
  color: white;

}

.content {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  padding: 0;
  h1,
  h2,
  h3,
  h4,
  h5,
  h5 {
    margin: 0;
    font-weight: normal;
    font-family:$sqHeadingFont;
    &:before {
      display: none;
    }
  }
  i {
    font-family: FontAwesome !important;
  }
}

.content {
  box-sizing: border-box;
  h2 {
    text-transform: uppercase;
    font-family: $altHead;
  }
  h3 {
    //font-family: $altHead;
    color: $green;
  }
}

.padded {
  &-sm {
    padding: $space-sm;
  }
  &-md {
    padding: $space-md;
  }
  &-lg {
    padding: $space-lg;
  }
}

.padded-topBottom {
  &-sm {
    padding: $space-sm 0;
  }
  &-md {
    padding: $space-md 0;
  }
  &-lg {
    padding: $space-lg 0;
  }
}

.padded-leftRight {
  &-sm {
    padding: 0 $space-sm;
  }
  &-md {
    padding: 0 $space-md;
  }
  &-lg {
    padding: 0 $space-lg;
  }
}

.nopad-left {
  padding-left: 0;
}

.centered {
  text-align: center;
}

.hyprGreen {
  color: $green;
}

.container {
  @include clearfix();
  padding: $space-md $space-xl;
  @media all and(max-width: $screen-md) {
    padding: $space-md $space-md;
  }
  img {
    max-width: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h5 {
    margin: 0;
    font-weight: normal;
    //font-family: $haHead;
    &:before {
      display: none;
    }
  }
  i {
    font-family: FontAwesome !important;
  }
}

*:focus {
  outline: none !important;
}
